<template>
  <div class="hello">

      <h1>Hello world</h1>
      <h1>Hello world</h1>
      <h1>Hello world</h1>
      <h1>Hello world</h1>
  </div>
</template>

<script>
export default {
    data(){
        return{

        }
    },
    created(){
        console.log("hello")
    }

}
</script>

<style>
.hello{
    padding-top: 200px;
}
</style>